.menu {
    border: 1px solid black;
    background-color: #11192a;
    color: #fff;
    width: 290px;
    left: 0;
    position: fixed;
    height: 100%;
}

.li {
    margin-top: 1;
    margin-bottom: 1;
}