.menu {
    border: 1px solid black;
    background-color: #11192a;
    color: #fff;
    width: 290px;
    left: 0;
    position: fixed;
    height: 100%;
}

.divider {
    margin: 13px 18px;
    height: 1px;
    background-color: #ffffff1a;
}

.img {
    text-align: center;
}